<section class="slide">
  <div class="slide__image">{{ image }}</div>
  <div class="slide__text-content">
    <div class="slide__title">{{ title }}</div>
    <div class="slide__content">{{ content }}</div>
    <div class="slide__link">{{ link }}</div>
  </div>
</section>