.button {
  background-color: $button-color;
  display: inline-block;
  color: $color-white;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: none;
  }

  &.wide {
    width: 100%;
    text-align: center;

    a {
      width: 100%;
      text-align: center;
    }
  }

  a {
    display: inline-block;
    color: $color-white;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

a.button,
span.button { //sass-lint:disable-line no-qualifying-elements
  padding: $button-padding;
}

.button-red {
  background-color: $color-brand-secondary;
  font-family: $font-secondary;
  color: $color-white !important; //sass-lint:disable-line no-important
  display: inline-block;
  font-size: 18px;

  &:hover {
    color: $color-white;
    background-color: darken($color-brand-secondary, 10%);
  }

  a {
    color: $color-white;
    display: inline-block;
    padding: $button-padding;

    &:hover {
      color: $color-white;
    }
  }
}

a.button-red,
span.button-red { //sass-lint:disable-line no-qualifying-elements
  padding: $button-padding;
}

.button-blue {
  background-color: $color-brand-primary;
  font-family: $font-secondary;
  color: $color-white;
  display: inline-block;

  &:hover {
    color: $color-white;
    background-color: darken($color-brand-primary, 10%);
  }

  a {
    color: $color-white;
    display: inline-block;
    padding: $button-padding;

    &:hover {
      color: $color-white;
    }
  }
}

.button-white {
  background-color: $color-white;
  font-family: $font-secondary;
  color: $color-brand-primary;
  display: inline-block;

  &:hover {
    color: $color-white;
    background-color: darken($color-brand-primary, 10%);
  }

  a {
    color: $color-brand-primary;
    display: inline-block;
    padding: $button-padding;

    &:hover {
      color: $color-brand-primary;
    }
  }
}

a.button-blue,
a.button-white,
span.button-blue { //sass-lint:disable-line no-qualifying-elements
  padding: $button-padding;
}

.field--name-field-lesson-plan-file .file--mime-application-pdf, .field--name-field-lesson-plan-file .file--application-pdf {
  @extend .button-red;
}