@import '../../global/utils/init';


.block--hero-image {
  .field--name-field-hero-image-image,
  .field--name-field-hero-image-mobile-image {
    // height: 450px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }

  .field--hero-has-mobile-image {
    display: none;
  }

  .block--page-title {
    position: relative;
    top: -10px;
    margin-bottom: 40px;

    @include breakpoint($lg) {
      margin-bottom: 80px;
    }

    .field--name-field-hero-image-title {
      @include font-libre-baskerville-bold;
      position: relative;
      display: block;
      font-size: 32px;
      margin: 2rem 0 0;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      line-height: 1.4;
      z-index: 10;

      @include breakpoint($md) {
        font-size: 48px;
        padding: 0 120px;
      }
    }
  }

  .social-grid {
    top: 0;
  }

  .block-field-blocknodecomponent-pagetitle {
    font-size: 32px;
    margin: 2rem 0 0;

    @include breakpoint($md) {
      font-size: 48px;
    }
  }

  @media (max-width: $md) {
    .field--hero-image.with-mobile-hero {
      display: none;
    }

    .field--hero-has-mobile-image {
      display: block;
    }
  }

}



