@import 'fonts';
@import 'normalize';

html {
  box-sizing: border-box;
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  width: 100%;
  margin: 0;
  font-size: 100%;
  overflow-x: hidden;
  background: url('../../images/site-bg.jpg') no-repeat center top;
  background-size: cover;
  background-color: $color-black;

  .blue-bg {
    background-color: $color-light-blue;

    .block--page-title {
      color: $color-black;
    }

  }

  .white-bg,
  &.front {
    background-color: $color-white;

    .cta-text-overlay-banner__heading {
      color: $color-white;
      font-size: 1.3rem;
    }
    .cta-text-overlay-banner__content {
      font-size: 14px;
      min-height: 150px;
    }
    .field--name-field-support-ike-block-link {
      text-align: center;
    }
    
    .block--page-title {
      color: $color-black;
    }


    .frontpage--main-content--overlay {
      background: $color-white;
      opacity: 1;
    }

    p,
    h2,
    .stylized-title__top,
    .stylized-title__top a {
      color: $color-black;
    }

        .flat-image-text-card-overlay__title {
          border: 2px solid $color-brand-secondary !important;
          color: $color-white !important;
          background-color: $color-brand-primary;
          text-align: center;
        }

        h2.ikes-soldiers-home-teaser__title span,
        .field--name-field-ikes-soldiers-description p,
        .field--name-field-slide-title h2,
        .field--name-field-slide-body p,
        .site-footer p,
        .field--name-field-quote-banner-attribution p  {
          color: $color-white !important;
        }
  }
}

table {
  margin-bottom: 10px;

  td {
    line-height: 1.3rem;
  }
}

article[about*='node/120'] {
  margin-top: 10rem;

  .a2a_kit { // sass-lint:disable-line class-name-format
    display: none;
  }
}

.true-size-image {
  img {
    width: auto !important; // sass-lint:disable-line no-important
    max-width: 100%;
    float: none;
  }

  .align-right {
    margin: 0 0 0 auto !important; // sass-lint:disable-line no-important
  }

  .align-center {
    margin: 0 auto !important; // sass-lint:disable-line no-important
  }

  .align-left {
    margin: 0 auto !important; // sass-lint:disable-line no-important
    float: none;
  }
}
