{{ attach_library('ike/ike-social') }}
<div class="footer-regions__bottom--middle flex-1-1 flex-container flex-grow-0 flex-jc-center flex-dir-row flex-ai-center">
  <div class="footer--social-facebook"><a href="https://facebook.com">Facebook</a></div>
  <div class="footer--social-twitter"><a href="https://twitter.com">Twitter</a></div>
  <div class="footer--social-youtube"><a href="https://youtube.com">Youtube</a></div>
  <div class="footer--social-instagram"><a href="https://instagram.com">Instagram</a></div>
</div>
