@import '../../global/utils/init';

.block-fixed-block-contentsocial-share-grid {
  position: relative;
}

.social-grid {
  float: right;
  width: 210px;
  padding: 12px;
  position: absolute;
  top: 0;
  z-index: 15;
  right: 10px;
  display: none;

  @include breakpoint($lg) {
    width: 120px;
    display: block;
  }

  a {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 38px;
    margin: 0.25rem;
    text-indent: -9999px;
    overflow: hidden;
    width: 38px;
    float: left;
  }
}

.social-facebook a {
  background-image: url('../assets/icon--facebook.png');
}

.social-twitter a {
  background-image: url('../assets/icon--twitter.png');
}

.social-youtube a {
  background-image: url('../assets/icon--youtube.png');
}

.social-instagram a {
  background-image: url('../assets/icon--instagram.png');
}
