// Slider
//
// This is the Slider component. It's an example.
//
// Markup: slider.twig
//
// Style guide: Components.slider

// Import site utilities.
@import '../../global/utils/init';

.slide {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 380px;
  height: 380px;
  padding: 20px 0 40px;

  @include breakpoint($md) {
    min-height: 480px;
    height: 480px;
    padding: 40px 0 100px;
  }

  @include breakpoint($lg) {
    min-height: 720px;
    height: 720px;
  }

  .slide__image {
    & * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 50%;
      background: linear-gradient(90deg, rgba(15, 32, 67, 1) 65%, rgba(153, 164, 176, 0) 92%);
      z-index: 1;

      @include breakpoint($md) {
        width: 40%;
      }

      @include breakpoint($lg) {
        width: 35%;
      }
    }
  }

  .slide__text-content {
    position: relative;
    z-index: 5;
    width: 50%;
    min-width: 50%;
    color: $color-white;

    @include breakpoint($md) {
      min-width: 40%;
      width: 40%;
    }

    div *:last-child {
      margin-bottom: 0;
    }
  }

  .slide__title {
    max-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;

    p {
      color: $color-white;
    }
    
    @include breakpoint($lg) {
      max-width: 100%;
      padding-left: 40px;
      padding-right: 40px;
    }

    * {
      font-size: 26px;
      font-family: $font-secondary;

      @include breakpoint($md) {
        font-size: 36px;
      }

      @include breakpoint($lg) {
        font-size: 48px;
      }
    }

    br {
      display: none;

      @include breakpoint($md) {
        display: block;
      }
    }
  }

  .slide__content {
    display: none;
    padding: 14px 40px 22px;
    background-color: $color-brand-secondary;

    @include breakpoint($lg) {
      display: block;
    }

    * {
      font-size: 22px;
      font-weight: 700;
    }
  }

  .slide__link {
    display: inline-block;
    padding: 4px 20px;
    margin-right: 30px;
    margin-top: -6px;
    background-color: $color-white;
    color: $color-brand-primary;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    @include breakpoint($md) {
      padding: 8px 40px;
      font-size: 26px;
    }

    @include breakpoint($lg) {
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
    }
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 100;

  @include breakpoint($md) {
    bottom: 40px;
  }

  @include breakpoint($lg) {
    bottom: 45px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  button {
    height: 10px;
    width: 10px;
    padding: 0;
    border-radius: 50%;
    text-indent: -9999px;
    border: 1px solid $color-white;
    background: $color-white;
    margin: 0 6px;
    opacity: 0.6;

    @include breakpoint($md) {
      height: 15px;
      width: 15px;
    }

    @include breakpoint($lg) {
      height: 18px;
      width: 18px;
      margin: 0 8px;
    }

    &:focus {
      outline: 0;
      border: 0;
    }
  }

  li {
    &:focus {
      outline: 0;
      border: 0;
    }
  }

  .slick-active {
    button {
      opacity: 1;
    }
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  [dir='rtl'] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

