@import '../../global/utils/init';

.block--page-title {
  position: relative;
  top: -10px;
  margin-bottom: 40px;

  @include breakpoint($lg) {
    margin-bottom: 80px;
    padding-left: 135px;
    padding-right: 135px;
  }

  .page-events & {
    top: 10px;
  }

  .page-virtual-classroom & {
    &::before {
      display: none;
    }

    span {
      color: $color-black;
    }
  }

  span {
    @include font-libre-baskerville-bold;
    position: relative;
    display: block;
    font-size: 32px;
    margin: 2rem 0 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 1.4;
    z-index: 10;

    @include breakpoint($md) {
      font-size: 48px;
    }
  }
}
