{{ attach_library('ike/quote-banner') }}
<section class="quote-banner">
  <div class="quote-banner__image">{{ image }}</div>
  <div class="quote-banner__content">
    <div class="quote-banner__quote">{{ quote }}</div>
    <div class="quote-banner__attribution">{{ attribution }}</div>
  </div>
</section>
