@import '../../global/utils/init';

.site-utility-header {
  background-color: $color-brand-primary;
  padding: 5px;
  border-bottom: 1px solid $color-white;

  .region-utility-header {
    display: flex;
    justify-content: flex-end;
    max-width: $row-width;
    margin-bottom: 20px;
    padding-bottom: 20px;
    // display:none;
  }

  ul,
  li {
    :not(.contextual-links) {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  ul {
    &:not(.contextual-links) {
      display: flex;

      li {
        &:nth-last-of-type(2) {
          border-right: 1px solid $color-white;
        }
      }

      a {
        color: $color-white;
        font-size: 13px;
        padding: 2px 8px;
      }
    }
  }

  #drupal-messages-container { // sass-lint:disable-line no-ids
    margin: 0;
    padding: 0;
    display: flex;
  }
}

// #block-ike-tools-menu {
//   display: none;
// }

// .region-utility-header .contextual-region {
//     @include breakpoint($md) {
//   max-height: 25px;
//   // background-color: $color-brand-primary;
// border-bottom: solid 1px #0F2043;
//   .contexual ul {
//     padding-left: 0;

//   }
//   ul {
//     margin-top: 3px;
//     padding-left:0;
//   }
// }
// }
