{{ attach_library('ike/support-ike-block') }}
<section class="support-ike-block">
{{ title }}
  <div class="support-ike-block__text-content">
    <div class="support-ike-block__text-content--content">{{ body }}</div>
    <div class="support-ike-block__text-content--link">{{ link }}</div>
  </div>
</section>
