{{ attach_library('ike/icon-text-card') }}
<section class="icon-text-card">
  <div class="icon-text-card__icon">
    {{ image }}
  </div>
  <div class="icon-text-card__content">
    {{ content }}
  </div>
</section>
