@import '../utils/init';

.filter-page-content {
  padding-top: 150px;

  .block-system-main-block {
    max-width: 800px;
    padding: 15px;
    margin: 0 auto 30px;
    background-color: $color-white;
    box-shadow: 0 2px 4px 4px $color-box-shadow;
    color: $color-black;

    .form-item {
      margin-bottom: 20px;
    }

    label {
      color: $color-black;
      font-weight: 700;
      margin-bottom: 5px;
    }

    .description {
      color: $color-gray;
      font-size: 14px;
      margin: 5px 0;
    }

    textarea {
      width: 100%;
    }
  }
}
